{{ define "content" }}
<h3>{{ .Kind }}打新总收益：{{ .Profits }}，下表为各股票统计，按 {{ .SortMethod }} 排行</h3>
<table class="table table-bordered table-striped table-hover">
  <caption>{{ .Kind }}打新收益分析</caption>
  <thead class="thead-dark">
    <tr>
      <th>代码</th>
      <th>名称</th>
      <th>首次交易</th>
      <th>最后交易</th>
      <th>持股天数</th>
      <th>净利润</th>
      <th>利润率</th>
      <th>日均利润</th>
    </tr>
  </thead>
  <tbody>
    {{ range .NewShareList }}
    <tr>
      <td>{{ .Code }}</td>
      <td>{{ .Name }}</td>
      <td>{{ .FirstDay | fdate }}</td>
      <td>{{ .LastDay | fdate  }}</td>
      <td>{{ .HoldDays }}</td>
      <td>{{ .Profit }}</td>
      <td>{{ .ProfitPct  }}</td>
      <td>{{ .AvgDailyProfit | printf "%.3f" }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}