{{ define "content" }}
<h3>{{ .Period }}已清仓普通股票总收益：{{ .Profits }}，下表为各股票统计，按 {{ .SortMethod }} 排行</h3>
<table class="table table-bordered table-striped table-hover">
  <caption>{{ .Period }}已清仓股票收益分析</caption>
  <thead class="thead-dark">
    <tr>
      <th>代码</th>
      <th>名称</th>
      <th>建仓日期</th>
      <th>清仓日期</th>
      <th>持股天数</th>
      <th>净利润</th>
      <th>日均利润</th>
      <th>利润率</th>
      <th>最高持仓量</th>
      <th>最高持仓日期</th>
      <th>买卖次数</th>
      <th>周买卖频率</th>
    </tr>
  </thead>
  <tbody>
    {{ range .NormClearList }}
    <tr>
      <td>{{ .Code }}</td>
      <td>{{ .Name }}</td>
      <td>{{ .FirstDay | fdate }}</td>
      <td>{{ .LastDay | fdate  }}</td>
      <td>{{ .HoldDays }}</td>
      <td>{{ .Profit }}</td>
      <td>{{ .AvgDailyProfit | printf "%.3f" }}</td>
      <td>{{ .ProfitPct }}</td>
      <td>{{ .MaxBalance }}</td>
      <td>{{ .MaxBalanceDay | fdate }}</td>
      <td>{{ .TransactionCount }}</td>
      <td>{{ .TransactionFreq | printf "%.3f" }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}